language: python
python: 2.7
install:
- "pip install -r ./slybot/requirements.txt"
- "pip install -e ./slybot[tests]"
script: "cd ./slybot && nosetests --with-doctest"
before_deploy: "cd ./slybot"
deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  user: scrapy
  password:
    secure: JaAKcy1AXWXDK3LXdjOtKyaVPCSFoCGCnW15g4f65E/8Fsi9ZzDfmBa4Equs3IQb/vs/if2SVrzJSr7arN7r9Z38Iv1mUXHkFAyA3Ym8mThfABBzzcUWEQhIHrCX0Tdlx9wQkkhs+PZhorlmRS4gg5s6DzPaeA2g8SCgmlRmFfA=
  on:
    tags: true
    repo: ruairif/portia